.height-hack > div:before, .height-hack > div:after {
  display: none; }
.height-hack > div > .row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.height-hack > div > .row:before, .height-hack > div > .row:after {
  display: none; }
.height-hack > div > .row > [class*="col-"] {
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
  -ms-flex-positive: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0; }
@media (min-width: 0) {
  .height-hack > div > .row > [class*="col-"] {
    width: 100%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-1 {
    width: 8.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-2 {
    width: 16.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-3 {
    width: 25%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-4 {
    width: 33.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-5 {
    width: 41.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-6 {
    width: 50%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-7 {
    width: 58.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-8 {
    width: 66.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-9 {
    width: 75%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-10 {
    width: 83.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-11 {
    width: 91.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-xs-12 {
    width: 100%; }
  .height-hack > div > .row > [class*="col-"][class*="col-xs-"]:not(.col-xs-12) > .short-contents {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0; } }
@media (min-width: 768px) {
  .height-hack > div > .row > [class*="col-"] {
    width: 100%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-1 {
    width: 8.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-2 {
    width: 16.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-3 {
    width: 25%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-4 {
    width: 33.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-5 {
    width: 41.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-6 {
    width: 50%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-7 {
    width: 58.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-8 {
    width: 66.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-9 {
    width: 75%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-10 {
    width: 83.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-11 {
    width: 91.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-sm-12 {
    width: 100%; }
  .height-hack > div > .row > [class*="col-"][class*="col-sm-"]:not(.col-sm-12) > .short-contents {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0; } }
@media (min-width: 992px) {
  .height-hack > div > .row > [class*="col-"] {
    width: 100%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-1 {
    width: 8.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-2 {
    width: 16.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-3 {
    width: 25%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-4 {
    width: 33.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-5 {
    width: 41.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-6 {
    width: 50%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-7 {
    width: 58.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-8 {
    width: 66.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-9 {
    width: 75%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-10 {
    width: 83.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-11 {
    width: 91.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-md-12 {
    width: 100%; }
  .height-hack > div > .row > [class*="col-"][class*="col-md-"]:not(.col-md-12) > .short-contents {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0; } }
@media (min-width: 1200px) {
  .height-hack > div > .row > [class*="col-"] {
    width: 100%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-1 {
    width: 8.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-2 {
    width: 16.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-3 {
    width: 25%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-4 {
    width: 33.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-5 {
    width: 41.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-6 {
    width: 50%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-7 {
    width: 58.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-8 {
    width: 66.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-9 {
    width: 75%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-10 {
    width: 83.33333%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-11 {
    width: 91.66667%; }
  .height-hack > div > .row > [class*="col-"].no-float.col-lg-12 {
    width: 100%; }
  .height-hack > div > .row > [class*="col-"][class*="col-lg-"]:not(.col-lg-12) > .short-contents {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0; } }
.height-hack .short-contents {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }
.height-hack .short-contents.flex-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }
.height-hack .short-contents.flex-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }
.height-hack .short-contents.space-around {
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }
.height-hack .short-contents.space-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
.height-hack .short-contents.center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

/*# sourceMappingURL=main.css.map */
